<div class="main-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <span class="icon first"></span>

        <p class="title">Editable Theme</p>

        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</div>
      </div>
      <div class="col-sm-4">
        <span class="icon second"></span>

        <p class="title">Flat Design</p>

        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</div>
      </div>
      <div class="col-sm-4">
        <span class="icon third"></span>

        <p class="title">Reach Your Audience</p>

        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</div>
      </div>
    </div>
  </div>
</div>