<div class="social">
  <div class="container">
    <blockquote>
      <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu commodo nulla dapib us. Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut.”</p>

      <p class="author">Jane Hunt</p>
    </blockquote>

    <img class="img-responsive hidden-xs" src="img/user.jpg" alt="">

    <br class="hidden-xs">

    <p class="title">Say Hi & Get in Touch</p>

    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. </div>

    <div class="social-block">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>
</div>